<form >
  <p>Puppy Name:</p><br>
  <input type="text" name="name"><br>
  <p>Puppy Breed:</p><br>
  <input type="text" name="breed"><br>
  <p>Puppy Age:</p><br>
  <input type="text" name="age"><br>
  <input type="submit" name="Submit">
</form>
