<form >
  <p>Puppy Name:</p>
  <input type="text" name="name">
  <p>Puppy Breed:</p>
  <input type="text" name="breed">
  <p>Puppy Age:</P
  <input type="text" name="age">
  <input type="submit" name="Submit">
</form>
